<h1>Taxes</h1>

<form>
  <label for="tax-name-input">Tax Name:</label>
  <input id="tax-name-input" type="text" #textInput [(ngModel)]="taxName" (input)="taxName = textInput.value">

  <label for="tax-percentage-input">Tax Percentage:</label>
  <input id="tax-percentage-input" type="number" #taxInput [(ngModel)]="taxPercentage" (input)="taxPercentage = +taxInput.value">

  <button type="button" (click)="addTax()">Add Tax</button>
</form>

<div *ngFor="let tax of taxes">
  <p>Tax Name: {{tax.name}}</p>
  <p>Tax Percentage: {{tax.percentage}}</p>
</div>
